In [1]:
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import sys
import os
import pandas as pd
import numpy as np
sys.path.append('../')
import utils
import calibration_utils as calibration
import scipy
import matplotlib.pyplot as plt

In [2]:
MEASUREMENT = "cal_1"
SENSORS_CSV_FILE = "./out/" + MEASUREMENT + "_S.csv"
CALIBRATION_MAT_FILE = "./out/" + MEASUREMENT + "_C_matrix.mat"

In [3]:
df = pd.read_csv(SENSORS_CSV_FILE)
df = df.drop(df.columns[0], axis=1)

In [4]:
df.head(10)

     S1    S2    S3    S4    S5    S6    S7    S8
0  1789  1780  1958  2165  1808  1613  1676  1781
1  1609  1731  1851  1970  1869  1635  1758  1984
2  1609  1731  1851  1970  1869  1635  1758  1984
3  1609  1731  1851  1970  1869  1635  1758  1984
4  1609  1731  1851  1970  1869  1635  1758  1984
5  1609  1731  1851  1970  1869  1635  1758  1984
6  1726  1887  2075  2216  2232  1944  2008  2250
7  1726  1887  2075  2216  2232  1944  2008  2250
8  1726  1887  2075  2216  2232  1944  2008  2250
9  1726  1887  2075  2216  2232  1944  2008  2250

In [5]:
df.shape

(18357, 8)

In [6]:
def process_sensors_file(sensors_csv_file, calibration_mat_file):
    """
    Process csv telemetry file with only S1-S8 sensors output.
    Using these sensor values and calibration matrix, 
    generate force/torque/moments and return a dataframe of cols
    ["Fx", "Fy", "Fz", "Mx", "My", "Mz]
    
    Args:
        sensors_csv_file: csv file containing S1-S8 raw sensor values
        calibration_mat_file: calibration matrix
    Returns:
        pandas DataFrame object containing the data points
        and forces and moments of shape (N, 6)        
    """
    df = pd.read_csv(SENSORS_CSV_FILE)
    df = df.drop(df.columns[0], axis=1) # df is of (N, 8) shape
    
    ## FILL IN THE FUNCTION ##